<div class="d-flex align-items-center justify-content-center bg-main-color">
  <div class="text-white m-3">
    <h1>Categories</h1>
  </div>
</div>

<div>
  <% if @categories.length.nonzero? %>
    <% @categories.each do |category| %>
      <%= link_to category_payments_path(category), class: "text-decoration-none text-text-color" do %>
        <div class="p-2 d-flex flex-row bg-light justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <div class="icon-container">
            <%= image_tag "food.png", class: 'img-fluid img-thumbnail' %>
            </div>
            <h2 class="ms-3"><%= category.name %></h2>
          </div>
          <div>
            <%= category.icon %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>You've not added any categories yet</p>
  <% end %>
</div>

<div>
  <%= link_to "Add new Category", new_category_path, class: "btn btn-second-color w-100 rounded-0 fixed-bottom", role: "button" %>
</div>

